@import url('assets/css/bootstrap.min.css');
/* @import url('assets/css/flaticon.css'); */
@import url('assets/css/fontawesome-all.min.css');
@import url('assets/css/slicknav.css');
@import url('assets/css/animate.min.css');
@import url('assets/css/magnific-popup.css');
@import url('assets/css/slick.css');
@import url('assets/css/nice-select.css');
@import url('assets/css/style.css');

* {
    box-sizing: border-box;
  }

  .__main {
    max-width: 90%;
    margin: auto;
    background-color: #fff;
    min-height: 80vh;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    padding-left: 0;
  }
  
  .btn {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    width: 230px;
    height: 47px;
    line-height: 47px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.02);
    display: flex;
    padding: 0;
    transition: all 0.3s ease-in-out;
  }
  .btn:hover {
    background-color: #4664ff;
    color: #fff;
    transform: scale(1.02);
  }
  .btn i {
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    border-right: 1px solid #ebe7fb;
  }
  .btn span {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6c84ff;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3b5bfe;
  }
  

@import url('css/assets/css/normalize.min.css');
@import url('css/assets/css/bootstrap.min.css');
@import url('css/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css');
@import url('css/assets/css/style.css');
@import url('css/assets/css/chartist.min.css');
@import url('css/assets/css/jqvmap.min.css');
@import url('css/assets/css/fullcalendar.min.css');
@import url('css/assets/css/fullcalendar.min.css');
/*pour les tables*/
